[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
flask-swagger = "*"
psycopg2-binary = "*"
python-dotenv = "*"
mysql-connector-python = "*"
mysqlclient = "*"
fastapi = "*"
uvicorn = "*"
alembic = "*"
pydantic = "*"
sqladmin = "*"

[requires]
python_version = "3.10"

[scripts]
start="uvicorn src.app:app --reload --host 0.0.0.0 --port 3000"
init="alembic init alembic"
migrate="alembic revision --autogenerate -m 'Initial migration'"
upgrade="alembic upgrade head"
deploy="echo 'Please follow this 3 steps to deploy: https://start.4geeksacademy.com/deploy/render' "
